SMS_API_URL=https://sms.one9.one/sms/api
SMS_API_KEY=630|YOUR_API_KEY
SMS_UNICODE=1
SMS_ACTION=send-sms
OTP_MESSAGE_TEMPLATE=বাংলাদেশ নির্বাচন কমিশন (NID সেবা): আপনার OTP কোড {{OTP}}। ২ মিনিটের মধ্যে ওটিপি সাবমিট করুন। কারো সাথে শেয়ার করবেন না।
